

body {
    background-color: black;
    color: #FFE81F;
}

.show {
    border: 2px solid #FFE81F;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.container {
    border: 1px solid #FFE81F;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.searchContainer {
    margin-bottom: 20px;
    margin-left: 15px
}




li.characters:hover {
    
    background: white ;
    cursor: pointer;
    color: black;
}

ul {
    list-style-type: none;
    width: 200px;
    padding-left: 20px
}

li {
    margin: 0 0 5px 0;
}

button:disabled {
    background: gray;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    text-align: center;
    background-color: black;
    color: #FFE81F;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    
}

h1 {
    font-family: 'Shippori Mincho B1', serif;
    margin-left: 10px;
}

h3 {
    
    margin-left: 15px;
}